<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <queries>
        <package android:name="com.goodwy.dialer.debug" />
        <package android:name="com.goodwy.dialer" />
        <package android:name="com.goodwy.contacts.debug" />
        <package android:name="com.goodwy.contacts" />
        <package android:name="com.goodwy.smsmessenger.debug" />
        <package android:name="com.goodwy.smsmessenger" />
        <package android:name="com.goodwy.voicerecorder.debug" />
        <package android:name="com.goodwy.voicerecorder" />
        <package android:name="com.goodwy.gallery.debug" />
        <package android:name="com.goodwy.gallery" />
        <package android:name="com.goodwy.audiobooklite" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.market" />
        <package android:name="ru.vk.store" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name_g"
        android:localeConfig="@xml/locale_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="resource/folder" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MimeTypesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ReadTextActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/file_editor">

            <meta-data
                android:name="android.app.default_searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DecompressActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/decompress">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="application/zip" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SaveAsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/save_as">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.FavoritesActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/favorites"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.PurchaseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode"
            android:exported="true"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="purchase-scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goodwy.commons.activities.AboutActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.CustomizationActivity"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity-alias
            android:name=".activities.SplashActivity.Original"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.One"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_one"
            android:roundIcon="@mipmap/ic_launcher_one"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Two"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_two"
            android:roundIcon="@mipmap/ic_launcher_two"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Three"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_three"
            android:roundIcon="@mipmap/ic_launcher_three"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Four"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_four"
            android:roundIcon="@mipmap/ic_launcher_four"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Five"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_five"
            android:roundIcon="@mipmap/ic_launcher_five"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Six"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_six"
            android:roundIcon="@mipmap/ic_launcher_six"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Seven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_seven"
            android:roundIcon="@mipmap/ic_launcher_seven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eight"
            android:roundIcon="@mipmap/ic_launcher_eight"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Nine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_nine"
            android:roundIcon="@mipmap/ic_launcher_nine"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Ten"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ten"
            android:roundIcon="@mipmap/ic_launcher_ten"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eleven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eleven"
            android:roundIcon="@mipmap/ic_launcher_eleven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
